@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
         url('../fonts/gilroylight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

/* body > *,
body > * > *,
body > * > * > * {
  background-color: rgba(156, 195, 225, 0.5);
}
 */

/* глобальные стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;

  background-color: #ffffff;;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .button,
a .button,
button.send {
  display: block;
  max-width: 260px;
  padding: 15px 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  white-space: normal;
  word-wrap: normal;

  background-color: #f0c52e;
  border: none;
} */


 a.button  {
color: #000000;

white-space: normal;
word-wrap: normal;
font-family: "Gilroy", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: 800;
letter-spacing: 3.6px;
vertical-align: middle;
text-align: center;
text-transform: uppercase;
text-decoration: none;

position: relative;
display: block;
margin: 0;
padding: 0;
padding-top: 11px;

min-width: 132px;
height: 18px;
background: transparent;

border: none;

}

button.button:not(.current-service) {

  position: relative;
  min-width: 132px;
  height: 40px;

  color: #000000;

  white-space: normal;
  word-wrap: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  background: transparent;

  border: none;

}

 a.button::before,
 button.button:not(.button.current-service)::before {
  position: absolute;
  top: 19px;
  left: 0;
  min-width: 160px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

button.button::before {
  top: 17px;
}

a.button:hover,
button.button:hover {
  background-color: #f0c52e;
}

/* стили блока центровщика */
.container {
  margin: 0 auto;
  width: 1160px;
}

/* стили шапки сайта */
.main-header {
  width: 1160px;
  background-color: #f7e296;
  margin-top: 35px;

}

.main-navigation {
  position:relative;
  display: flex;
  flex-direction: column;
  padding-top: 43px;
  padding-bottom: 125px;
}


div.main-header-logo  {
  position: absolute;
  top: -20px;
  left: 60px;
  width: 163px;
  height: 35;
}

.header-columns {
  width: 1040px;
  display: flex;
  margin: 0 60px 35px 60px;
 }


.site-search {
  position: relative;
  width: 490px;
  padding-left: 38px;
}

.site-search form {
  margin: 0;
  padding: 0;
}

.search input {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  font-weight: 300;

  border: none;
  background-color: inherit;
}
.search label::before{
  position: absolute;
  content: "";

  top: 7px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.user-navigation {
  width: 510px;
  display: flex;
  justify-content: space-between;
}
.user-navigation a {

  color: #000000;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  font-weight: 300;

  text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a.logout {
  color: rgba(0, 0, 0, 0.3);
}

.login-link {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 38px;
  width: 252px;
}

.login-link::before {
  position: absolute;
  content: "";

  top: 9px;
  left: 12px;

  width: 13px;
  height: 13px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



.compare-products {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 29px;

  width: 91px;
}
.compare-products::before {
  position: absolute;
  content: "";

  top: 11px;
  left: 9px;

  width: 13px;
  height: 13px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



.basket {
  position: relative;
  text-align: right;
  width: 70px;
  margin-left: auto;
}

.basket::before {
  position: absolute;
  content: "";

  top: 9px;
  left:-11px;

  width: 13px;
  height: 13px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-products:hover::before,
.login-link:hover::before,
a.basket:hover::before {
  opacity: 0.6;
}

.compare-products:active::before,
.login-link:active::before,
a.basket:active::before {
  opacity: 0.3;
}

.navigation-catalog-list {
  margin: 0;
  padding: 0;

}

.navigation-catalog-list a {
  position: relative;
  padding-right: 35px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;


  text-transform: uppercase;
  text-decoration: none;
}

.navigation-catalog-list  .catalog-list::after {
  position: absolute;
  content: "";

  top: 0px;
  left: 230px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-catalog-list a:hover,
.navigation-catalog-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* .navigation-catalog-list ul a{

  color: #000000;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  font-weight: 300;

  text-transform: none;
  word-wrap: break-word;

  border: none;
  background-color: inherit;
}

.navigation-catalog-list:hover ul a {
  display: block;
} */

.navigation-catalog-list {
  margin: 0;
  padding: 0;

  width: 540px;
  list-style: none;
}

 .site-navigation {
   width: 500px;
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
}

.site-navigation li {
  margin: 0;
  padding: 0;
  width: 130px;
  margin-right: 28px;
}
.site-navigation a {
  padding-top: 3px;
}

.site-navigation .last-item {

  margin-right: 0;
  margin-left: auto;
  padding: 0;

  text-align: right;
}


.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.site-navigation a,
.footer-site-navigation a {
  color: #000000;

  display: block;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;

  text-transform: uppercase;
  text-decoration: none;
}


/* стили шапки внутренних  страниц*/

.inner-page .main-header-logo img:hover {
  opacity: 0.6;
}

.inner-page .main-header-logo img:active {
  opacity: 0.3;
}

/* стили main */

.main-content {
  position: relative;
  width: 100%;
}

/* оформление слайдов */

.slider {
  margin-bottom: 110px;
  position: absolute;
}

.slide-details  a.button {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding: 11px 44px;
  width: 132px;
  height: 18px;
  background: transparent;
}

 .slide-details  a.button::before {
  position: absolute;
  top: 19px;
  left: 0;
  width: 220px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.slide-details  a.button:hover{
  background-color: #f0c52e;

}

.slide-details  a.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slide {
  position: absolute;
  top: -114px;
  left: 89px;
  margin: 0;
  padding: 0;

  display: none;
}

.slide-1.slide-current {
  display: block;
}

.slide-wrap {
  display: flex;

  width: 1040px;

}

.slide-img {
  margin-right: 80px;
  width: 384px;
  height: 486px;
}

.slide-details {
  position: relative;
  padding-top: 80px;
  padding-left: 46px;
  width: 500px;

}

.slide-details .slide-title {
  margin-bottom: 18px;
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.slide-details .slide-description {

  margin-bottom: 42px;
}

/* table {
  margin: 0;
  padding: 0;
  border-spacing: 40px 0;
} */



.slide-details p {
  margin: 0;
  padding: 0;

}

.slide-description {
  padding-bottom: 65px;
}


.slide-number {
  position: absolute;
  top: -12px;
  right: -14px;

  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  letter-spacing: 1.79px;
  text-align: right;
}



.feature {
  color: #464646;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  font-weight: 300;
}

.feature-value {
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
}

.slider-controls {
  position: absolute;
  left: 90%;
  top:319px;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  зposition: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
   padding: 8px;

  /* Временно для демонстрации */
  background-color: red;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content:"";
  position: absolute;
  top:7px;
  left: 37px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #000000;
  border-radius: 50%;
}
/* .slides-switches {
  display: flex;
  margin: 0;
  padding: 0;
} */

/* популярные категории товаров */

.popular-categories {
  padding-top: 481px;
  margin-bottom: 180px;
}

.popular-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.popular-list li {
  width: 160px;
}

.category a{
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column-reverse;

  text-decoration: none;
}

.category h3{
  margin: 0;
  padding: 0;
  margin-top: 34px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  text-align: left;
}

.category-back {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;

  background-color: rgba(255, 204, 51, 0.5);
}


.category a:hover div,
.category a:focus div  {
  background-color: #f0c52e;
}

.category a:active img,
 .category a:active {
  color: rgba(0, 0, 0, 0.3);

  opacity: 0.3;
}


/* стили слайдера с сервисами */

/* .services-wrap section,
.slides-switches-wrap {
  margin-top: -85px;
} */


.service-background-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 95px;
  z-index: 0;


  min-height: 288px;

  background-color: #e5e5e5;
}

.services {

  position: absolute;
  left: 0;
  right: 0;
  top: -100px;


  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 95px;
  width: 1160px;

  max-height: 320px;

  background-color: transparent;
}

.services-wrap {
  padding-top: 75px;
}

.delivery,
.warranty,
.credit {
  margin: 0;
  padding: 0;
  padding-right: 55px;

  max-height: 320px;

  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.warranty,
.credit {
  display: none;
}


/* .delivery img {
  margin-right: 65px;
} */

.services-text-wrap h2,
.services-text-wrap p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.services-text-wrap {
  width: 460px;

}

.slides-switches-wrap ul {
  margin: 0;
  padding: 0;
  padding-top: 78px;
  padding-right: 16px;
  padding-bottom: 47px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 262px;
  margin-right: 117px;
  max-height: 320px;

  border-right: 7px solid black;
}



.services h2 {
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  font-weight: 800;

}

.services p {
  color: #464646;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;

  word-wrap: break-word;

}

.slides-switches {
  list-style: none;
}

.button-service {
  position: relative;
  width: 160px;

  margin-bottom: 25px;

  border: none;
}

.button-service:not(.current-service)::before {
  position: absolute;
  top: 16px;
  left: 0;
  min-width: 160px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.button.button-service:active {
  padding-left: 15px;

  color: #f0c52e;
  text-align:left;

  width: 285px;
  height: 40px;

  background-color: #000000;
}

.button.current-service {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 15px;
  width: 285px;
  height: 40px;

  color: #f0c52e;

  white-space: normal;
  word-wrap: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  white-space: normal;
  word-wrap: normal;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  text-align: left;
  z-index: 1;

  background-color: #000000;
}

.button.current-service:hover {
  background-color: #000000;
}

/* список брендов */
.brands ul {
  margin: 0;
  padding: 0;
  margin-bottom: 93px;

  height: 100px;

  display: flex;
  justify-content:  space-between;

  list-style:  none;
}

/* колонки с информацией о нас и контактами */
.column {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.about-us,
.contacts {
  position: relative;
  padding-top: 50px;
}

.about-us::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.column h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  font-weight: 800;
}

.column p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;

  word-wrap: break-word;
}

.contacts p {
  margin: 0;
  margin-bottom: 39px;
}

p.map-container {
  margin: 0;
  margin-bottom: 58px;
}

.map-container a {
  margin: 0;
  padding: 0;
}

.column ul {
  margin: 65px 0 52px 0;
  padding: 0;
}

.delivery-companies li {
  padding-left: 15px;
}



.about-us a.button {
  display: block;
  margin: 0;
  padding: 0;
  padding: 11px 0;
  width: 260px;
  height: 18px;
  background: transparent;

}

.contacts .button {
  padding: 10px 0;
  width: 260px;
  height: 40px;

  border: none;
}

.column a.button::before,
.column button.button::before {
 position: absolute;
 top: 19px;
 left: 0;
 width: 260px;
 height: 8px;
 z-index: -1;

 content: "";
 background-color: #f0c52e;
 text-align:  center;
 vertical-align: middle;
}

.column button.button::before{
  top: 18px;
}

.about-us a.button:hover,
.contacts button.button:hover {
  background-color: #f0c52e;
}

.about-us ul {
  margin-left: 20px;
  padding-left: 0px;

  list-style: circle;
}

.about-us li {
  color: #e5e5e5;
}

.about-us span {
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  font-weight: 800;
}

/* стили подвала */

.main-footer {


  margin-top: 84px;
  min-height: 323px;
  color: #ffffff;

  background-color: #464646;
}

.main-footer ul {
  list-style:   none;
}

.main-footer a {
  color: #ffffff;
}

.footer {
    display: flex;
    padding-top: 60px;
}


.footer-logo {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 5px;

  width: 360px;
}

.footer-logo::after {
  position: absolute;
  content: "";

  left: 0;
  bottom: 20px;

  width: 80px;
  height: 7px;
  background-color: #ffc600 ;

}

.footer-logo img {
  margin-bottom: 21px;
}
.footer-logo img:hover {
  opacity: 0.6;
}

.footer-logo img:active {
  opacity: 0.3;
}
.footer-navigation {
  width: 440px;
}

.footer-user-navigation {
  width: 360px;
  margin-left: auto;
}

.footer-logo p,
.footer-user-navigation p,
.footer-navigation p,
.footer-navigation ul,
.footer-user-navigation-list a {
  margin: 0;
  padding: 0;
}

ul.footer-site-navigation {
  margin: 0;
  padding: 0;
  padding-top:  75px;
  margin-bottom: 63px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  list-style: none;
}

.footer-site-navigation li a {
  margin: 0;
  text-align: left;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 143px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

}

.footer-social a svg {
  opacity: 0.3;
}

.footer-social a svg:hover {
  opacity: 1;
}

.footer-social a svg:active {
  opacity: 0.1;
}

.footer-site-navigation a:hover {
  color:rgba(255, 255, 255, 0.6) ;
}

.footer-site-navigation a:active {
  rgba(255, 255, 255, 0.3);
}

.footer-user-navigation {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}

.footer-user-navigation-list {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  margin-bottom: 34px;
}

.footer .login-link {
  position: relative;
  margin: 0;
  padding: 0;

  text-align: right;

  width: 245px;
}

.footer a.login-link::before {
  position: absolute;
  top: 11px;
  left: 175px;

  background-image: url("../img/footer-user.svg");
}

.footer .compare-products {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  padding-left: 13px;
  width: 65px;
}

.footer a.compare-products::before {
  position: absolute;
  top: 12px;
  left: -6px;

  background-image: url("../img/footer-compare.svg");
}

.footer .basket {
  position: relative;
  padding-left: 60px;
  margin-left: auto;
  width: 65px;
}

.footer a.basket::before {
  position: absolute;
  top: 11px;
  left: 44px;

  background-image: url("../img/footer-cart.svg");
}


.footer-user-navigation-list a {
  color: rgba(255, 255, 255, 0.7) ;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 300;
  vertical-align: top;
  text-align: right;
  text-decoration: none;
}

p.contact-phone {
  margin-bottom: 61px;
}

.footer-user-navigation-list a:hover {
  color: #ffffff;
}

.footer-user-navigation-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.contact-phone {
  text-align:;
}
a.htmlacademy-logo:hover {
  opacity: 0.6;
}

a.htmlacademy-logo:active {
  opacity: 0.3;
}


/*  стили модальных окон*/
.modal {
  width: 960px;
  height: 553px;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

form.contact-us label {
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  font-weight: 800;
}

form.contact-us input,
form.contact-us textarea {
  color: rgba(70, 70, 70, 0.4);

  width: 360px;
  height: 50px;
  padding-left: 20px;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f2f2f2;
  border: none;
}

form.contact-us textarea {
  width: 760px;
  height: 156px;

  padding-top: 18px;
}

form.contact-us input:hover,
form.contact-us textarea:hover {
  background-color: #eaeaea;
}

form.contact-us input:focus,
form.contact-us textarea:focus {
  color: #464646;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;

  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

form.contact-us input:invalid:not(:placeholder-shown),
form.contact-us textarea:invalid:not(:placeholder-shown) {
  color: rgba(70, 70, 70, 0.4);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f6dada;
}

.inner-page .main-header {
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.inner-page .main-navigation {
  margin-bottom: 0;
  padding-bottom: 0;
}

.inner-page .site-search {
  width: 492px;
}

.inner-page h1 {
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  font-weight: 800;
}

.account {
  width: 280px;
}

.personal-account {
  margin-right: 15px;
  padding-left: 35px;
  width: 280px;
}

.personal-account::before{
  position: absolute;
  content: "";

  top: 52px;
  left: 600px;

  width: 13px;
  height: 13px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.personal-account:hover::before {
  opacity: 0.6;
}

.personal-account:active::before {
  opacity: 0.3;
}

.logout {
  margin-right: 20px;
}

.inner-page  .compare-products {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 37px;

  width: 91px;
}
.inner-page .compare-products::before {
  position: absolute;
  content: "";

  top: 11px;
  left: 17px;

  width: 13px;
  height: 13px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



.navigation-catalog-list li {
  position: relative;
}


.catalog-list-wrap ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list-wrap {

    display: none;
    position: absolute;
    top: 22px;
    left: -60px;

    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 60px;
    width: 1100px;
    z-index: 10;

    background-color:#f7e296;
    cursor: pointer;

}

.catalog-list-wrap ul li a {
  display: block;
}


 .navigation-catalog-list:hover .catalog-list-wrap,
  .catalog-list-wrap:hover {
 /* .catalog-list:focus  .catalog-list-wrap,
 .catalog-list:active  .catalog-list-wrap { */

   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}



.catalog-list-1 li a,
.catalog-list-2 li a,
.catalog-list-3 li a {
  color: #000000;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;

  text-transform: none;
}

/* стили градиент-фона лдя секции фильтра и катлога товаров  */

.line-1 {
  background: linear-gradient(to right, #d9d9d9 50%, #ebebeb 50%);
}

.line-2 {
  background: linear-gradient(to right, #ebebeb 50%, #ffffff 50%)
}

.inner-container {

	display: flex;
 	width: 1100px;
  margin: auto;
  padding-left: 60px;

}

.filter-title,
.filtres {
  margin: 0;
  padding: 0;
	width: 265px;
}

.sorting-wrapper {
	display: flex;
	width: 765px;
  padding-left: 70px;
}

.sorting-wrapper h2 {
  margin: 0;
  padding: 24px 0;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
}

.line-1 .filter-title {
  margin: 0;
  padding: 24px 0;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;

  background: #d9d9d9;
}

.line-1 .sorting-wrapper {
  background: #ebebeb;
}

.line-2 .filters {
  background: #ebebeb;
}

.line-2 .catalog {
  background: #ffffff;
}







.inner-page main.container {
  position: relative;
  padding-left: 60px;
  width: 1100px;

}

.inner-page .page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

ul.breadcrumbs {
  position: relative;
  display: flex;


  width: 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;


  list-style: none;
}

.breadcrumbs li a,
.breadcrumbs li {

  margin: 0;
  padding: 0;


  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  font-weight: 300;
  text-decoration: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin: 0;
}

.breadcrumbs li::after {
  content: "";
  width: 4px;
  height: 7px;

  position: absolute;
  top: 8px;
  right: -18px;
  background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li a:active {
  color:rgba(0, 0, 0, 0.1);
}
.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  font-weight: 300;
}

.inner-page .columns {
  display: flex;
}


.filters {
  width: 265px;
}

.filter-range  {
  width: 200px;
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 20px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  font-weight: 800;

  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.filter-range-title {
  margin-bottom: 25px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgb(219, 219, 219);
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 60%;
}

.range-toggle:active {
  width: 5px;
  height: 5px;
}

.price-controls label {
  display: inline-block;
  margin-right: 10px;

  font-size: 0;


  color: rgba(0, 0, 0, 0.2);

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  vertical-align: top;

  cursor: pointer;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.filters ul {

  margin: 0;
  padding: 0;

  color: #000000;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  font-weight: 300;

  list-style: none;
}


.filter fieldset {
  margin: 0;
  padding: 0;
  width: 200px;

  border: none;
  border-bottom: 2px solid #000000;
}

.filter fieldset li {
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.filter fieldset ul {
  padding-bottom: 25px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:checked + label::before {
  background-image: none;

  content: "";
  position: absolute;
  left: -42px;
  top: 3px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg")
}

.filter-input-checkbox + label::before {

  content: "";
  position: absolute;
  left: -42px;
  top: 3px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");

}


.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
  opacity: 0.6;
}

.filter-input:disabled + label {
  opacity: 0.25;
}

.filter-input-radio + label::before{
  content: "";

  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: -42px;

  background-image: url("../img/radio-off.svg");
}

.filter-input-radio:checked + label::before {
  content: "";

  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: -42px;

  background-image: url("../img/radio-on.svg");
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::before {
  opacity: 0.6;
}

.filter-radio:disabled + label {
  opacity: 0.25;
}




.filters h2,
.sorting-goods h2{
  margin: 0;
  padding: 24px 0;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
}

.filters legend {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 20px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  font-weight: 800;
}

/* кнопки на странице каталога */

.filter-button,
.basket-button {
  position: relative;
  min-width: 200px;
  height: 40px;

  color: #000000;

  white-space: normal;
  word-wrap: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  z-index: 0;
  background: transparent;

  border: none;

}

.filter-button::before,
.basket-button::before {
  position: absolute;
  top: 16px;
  left: 0;
  min-width: 200px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.basket-button {
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: -2;

}

.filter-button:hover,
.basket-button:hover,
.filter-button:focus,
.basket-button:focus {
  background-color: #f0c52e;
}

.filter-button:active,
.basket-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item p:hover .basket-button {
  z-index: 2;
}

.wrap-sorting-catalog {
  display: flex;
  flex-direction: column;
  width: 835px;
}

.sorting-goods {
  display: flex;
  width: 760px;
  height: 71px;
  padding-left: 75px;

}

ul.sorting-list {
  width: 300px;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-left: 40px;

  list-style: none;
}

.sorting-list li a{
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  display: inline-block;
  float: left;
}

.sorting-list li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list li a:active,
li.current-type a {
  color: #000000;
}

.catalog {
  margin: 0
  padding: 0;
  padding-top: 65px;
  padding-left: 75px;
  width: 760px;
}

ul.catalog-list {
  margin: 0;
  padding: 0;


  width: 760px;
  display: flex;
  flex-wrap: wrap;


  list-style: none;
}

ul.catalog-list li {
  margin-bottom: 40px;
}

ul.catalog-list li:nth-child(2n) {
  margin-left: 40px;
}

li.catalog-item p,
li.catalog-item h3 {
  margin: 0;
  padding: 0;
}

li.catalog-item p{
  margin-bottom: 25px;
}

li.catalog-item h3 {
  display: flex;
  justify-content: space-between;

}


li.catalog-item a {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;

  text-decoration: none;
}

.catalog-item {
  position: relative;
}

/* наведение на карточку */
.catalog-item p::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 155px;
  padding-top: 225px;
  padding-left: 110px;
  z-index: 1;
  content: "Добавить к сравнению";
  color: rgba(0, 0, 0, 0.5);

  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;

  background-color: rgba(238, 238, 238, 0.5);

  display: none;
}

.catalog-item p:hover::before {
  display: block;
}
/* иконка нового товара */
.new {
  position: relative;
}

 .new::before {
  position: absolute;
  top: 29px;
  right: 28px;
  content: "";
  width: 56px;
  height: 56px;

  border: 2px solid #cfcfcf;
  border-radius: 50%;
  z-index: 1;
}

.new::after {
  position: absolute;
  top: 46px;
  right: 28px;
  content: "new";
  width: 56px;
  height: 56px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.7px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}


.item-title {

  width: 260px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  font-weight: 800;
}

.item-price {
  color: #464646;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  font-weight: 300;
}

.catalog img {


  width: 360px;
  height: 380px;

  background-color: #ebebeb;
}

ul.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  width: 760px;
  min-height: 70px;

  background-color: #ebebeb;

  list-style: none;
}

.pagination-wrap {
  display: flex;
}


.pagination-item a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  font-weight: 800;
  text-decoration: none;

}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item .current {
  color: #000000;
}

.pagination-button a {
  margin: 0;
  padding: 0;
  display: block;
  padding: 30px 0 30px 0;

  width: 136px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  background-color: inherit;
}

.btn-back a:hover {
  background-color: #d9d9d9;
}
.btn-next a:hover {
  background-color: #d9d9d9;
}

.btn-back a:active {
  color: rgba(0, 0, 0, 0.3);
}
.btn-next a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-wrap li {
  margin-left: 30px;
}

.footer-user-navigation-list .logout {
  color: rgba(255, 255, 255, 0.3);
}


.footer-personal-account::before {
  bottom: 0;
}

.inner-page footer {
  margin-top: 0;
}

.inner-page .footer  {
  position: relative;
}

.inner-page .footer-navigation {
  position: absolute;
  left: 361px;
}

.inner-page .footer-user-navigation {
  width: 500px;
}
.inner-page .footer-user-navigation-list {
  text-align: left;
}

.inner-page .footer-personal-account {
  position: relative;
  width: 150px;
  padding-left: 30px;
}

.inner-page .footer-personal-account::before {
  position: absolute;
  content: "";

  top: 12px;
  left: 21px;

  width: 13px;
  height: 13px;

  background-image: url("../img/footer-user.svg");

}

.inner-page .logout {
  width: 50px;
  padding-left: 15px;
}

.inner-page .compare {
  position: relative;
}

.inner-page .footer a.compare-products::before {
  position: absolute;
  content: "";

  top: 14px;
  left: 41px;

  width: 13px;
  height: 13px;

  background-image: url("../img/footer-compare.svg");
}
