@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
       url('../fonts/gilroyextrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
       url('../fonts/gilroylight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@keyframes faceInDown {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* глобальные стили */
body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;

  background-color: #ffffff;;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a.button  {
  color: #000000;
  white-space: normal;
  word-wrap: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 11px;

  min-width: 132px;
  height: 18px;
  background: transparent;

  border: none;
}

button.button:not(.current-service) {
  position: relative;
  min-width: 132px;
  height: 40px;

  color: #000000;
  white-space: normal;
  word-wrap: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  background: transparent;

  border: none;
}

 a.button::before,
 button.button:not(.button.current-service)::before {
  position: absolute;
  top: 19px;
  left: 0;
  min-width: 160px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

button.button::before {
  top: 17px;
}

a.button:hover,
button.button:hover {
  background-color: #f0c52e;
}

/* стили блока центровщика */
.container {
  margin: 0 auto;
  width: 1160px;
}

/* стили шапки сайта */
.main-header {
  width: 1160px;
  background-color: #f7e296;
  margin-top: 35px;
}

.main-navigation {
  position:relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 132px;
}

div.main-header-logo  {
  position: absolute;
  top: -17px;
  left: 60px;
  width: 163px;
  height: 35px;
}

.header-columns {
  width: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 60px 27px 60px;
 }

 /* Стили для строки поиска */
.site-search {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 540px;
}

.site-search input {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 padding: 15px;
 padding-left: 40px;
 width: 355px;
 height: 50px;

 color: #000000;
 font-size: 15px;
 line-height: 30px;
 letter-spacing: 0.15px;

 background-color: transparent;
 border: none;
 outline: none;
 background-image: url("../img/search.svg");
 background-position: 3px center;
 background-repeat: no-repeat;
}

button.search-btn {
 position: relative;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 width: 85px;
 height: 50px;

 color: #000000;
 background-color: transparent;
 border: 2px solid #000000;

 cursor: pointer;

 opacity: 0;
}

.site-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:focus ~ button.search-btn {
  opacity: 1;
}


button.search-btn::after {
position: absolute;
content: "";
width: 438px;
height: 2px;
bottom: -2px;
right: -2px;
background-color: #000000;

}

button.search-btn:hover {
 color: #ffffff;

 background-color: #000000;
}

button.search-btn:active {
 opacity: 1;
 color: rgba(255, 255, 255, 0.3);
}

.user-navigation {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 width: 500px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;

flex-wrap: wrap;
}
.user-navigation a {

 color: #000000;

 font-family: "Open Sans", Arial sans-serif;
 font-size: 15px;
 line-height: 30px;
 letter-spacing: 0.15px;
 font-weight: 300;

 text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
 color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
 color: rgba(0, 0, 0, 0.3);
}

.user-navigation a.logout {
 color: rgba(0, 0, 0, 0.3);
}

.user-navigation a.logout:hover {
 color: #000000;
}

.login-link {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 position: relative;
 margin: 0;
 padding: 0;
 padding-left: 25px;
 width: 280px;
}

.login-link::before {
 position: absolute;
 content: "";

 top: 10px;
 left: 0;

 width: 13px;
 height: 13px;

 background-image: url("../img/user.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}



.compare-products {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 position: relative;
 margin: 0;
 padding: 0;
 padding-left: 27px;

 width: 120px;
}
.compare-products::before {
 position: absolute;
 content: "";

 top: 11px;
 left: 7px;

 width: 13px;
 height: 13px;

 background-image: url("../img/compare.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}

.basket {
 position: relative;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 text-align: right;
 width: 100px;
 margin-left: auto;
}

.basket::before {
 position: absolute;
 content: "";

 top: 10px;
 left: 17px;

 width: 13px;
 height: 13px;

 background-image: url("../img/cart.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}

.compare-products:hover::before,
.login-link:hover::before,
a.basket:hover::before {
 opacity: 0.6;
}

.compare-products:active::before,
.login-link:active::before,
a.basket:active::before {
 opacity: 0.3;
}


.navigation-catalog-list {
 margin: 0;
 padding: 0;

}

.navigation-catalog-list a {
 position: relative;
 padding-right: 35px;

 color: #000000;

 font-family: "Gilroy", Arial, sans-serif;
 font-size: 18px;
 line-height: 24px;
 letter-spacing: 3.6px;
 font-weight: 800;


 text-transform: uppercase;
 text-decoration: none;
}

.navigation-catalog-list  .catalog-list::after,
.navigation-catalog-list  .catalog-list::before {
 position: absolute;
 content: "";

 top: 8px;
 left: 230px;

 width: 16px;
 height: 2px;

 background-color: rgba(184, 169, 116, 1);

}

.navigation-catalog-list  .catalog-list::before {
 -webkit-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
         transform: rotate(90deg);
}

.navigation-catalog-list a:hover,
.navigation-catalog-list a:focus,
.navigation-catalog-list  .catalog-list:hover::after,
.navigation-catalog-list  .catalog-list:hover::before,
.navigation-catalog-list  .catalog-list:focus::after,
.navigation-catalog-list  .catalog-list:focus::before {
 color: rgba(0, 0, 0, 0.6);
 opacity: 0.6;
}

.navigation-catalog-list a:active,
.navigation-catalog-list  .catalog-list:active::after,
.navigation-catalog-list  .catalog-list:active::before {
 color: rgba(0, 0, 0, 0.3);
 opacity: 0.3;
}

.navigation-catalog-list {
 margin: 0;
 padding: 0;

 width: 540px;
 list-style: none;
}

.site-navigation {
 width: 500px;
 margin: 0;
 padding: 0;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}

.site-navigation li {
  margin: 0;
  padding: 0;
  width: 130px;
  margin-right: 28px;
}

.site-navigation .last-item {
  margin-right: 0;
  margin-left: auto;
  padding: 0;

  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.site-navigation a,
.footer-site-navigation a {
  color: #000000;

  display: block;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;

  text-transform: uppercase;
  text-decoration: none;
}

/* стили шапки внутренних  страниц*/
.inner-page .main-header-logo img:hover {
  opacity: 0.6;
}

.inner-page .main-header-logo img:active {
  opacity: 0.3;
}
/* стили main */

.main-content {
  position: relative;
  width: 100%;
}

/* оформление слайдов */

.slider {
  margin-bottom: 65px;
  position: relative;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-details  a.button {
  position: relative;
  display: block;

  margin: 0;
  padding: 0;
  padding: 11px 44px;

  width: 132px;
  height: 18px;

  background: transparent;
}

.slide-details  a.button::before {
  position: absolute;
  top: 19px;
  left: 0;
  width: 220px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.slide-details  a.button:hover{
  background-color: #f0c52e;
}

.slide-details  a.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slide {
  margin: 0;
  padding: 0;
  margin-top: -110px;

  display: none;
}

.slide-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 1040px;
}

.slide-img {
  margin-right: 80px;
  margin-left: 30px;
  width: 384px;
  height: 486px;
}

.slide.slide-3 img {
  padding-top: 80px;
}

.slide-details {
  position: relative;
  padding-top: 80px;
  padding-left: 46px;
  width: 500px;
  z-index: 1;
}

.slide-details p {
  margin: 0;
  padding: 0;
}

.slide-details::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  top: 35px;

  background-color: #ffffff;
}

.slide-details .slide-title {
  margin-bottom: 18px;
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.slide-details .slide-description {
  margin-bottom: 40px;
}

.slide-description {
  padding-bottom: 65px;
}

.slide-number {
  position: absolute;
  top: -12px;
  right: -14px;

  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  letter-spacing: 1.79px;
  text-align: right;
  z-index: -1;
}

.feature-table {
  width: 430px;
  padding: 50px 0;
}

.feature-table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.feature-table tbody td {
  width: 155px;
}

.feature-table tbody td:nth-child(2) {
  width: 140px;
}

.feature,
.feature-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.feature {
  color: #464646;
  font-family: "Open Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  font-weight: 300;
  text-align: left;
}

.feature-value  {
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
}

.slide.slide-2 td {
  width: 160px;
}

/* стили радиокнопок слайдера */
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;

  vertical-align: top;
  border: 1px solid black;

  border-radius: 50%;
  cursor: pointer;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  z-index: 1;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 4px;
  height: 4px;

  background-color: inherit;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  right: 42px;
  bottom: 183px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* популярные категории товаров */
.popular-categories {
  margin-bottom: 80px;
}

.popular-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  list-style: none;
}

.popular-list li {
  width: 160px;
}

.category a {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;

  text-decoration: none;
}

.category h3 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;

  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  text-align: left;
}

.category h3::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  background-color: rgba(255, 204, 51, 0.5);
}

.category h3::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  content:  "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category:nth-child(1) h3::after {
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category:nth-child(2) h3::after {
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.category:nth-child(3) h3::after {
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category:nth-child(4) h3::after {
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category:nth-child(5) h3::after {
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category:nth-child(6) h3::after {
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category a:hover h3::before,
.category a:focus h3::before  {
  background-color: #f0c52e;
}

.category a:active h3::after {
  background-color: #f0c52e;
  opacity: 0.3;
}

.category a:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
  width: 1160px;

  background-color: transparent;
}

.services::after {
  position: absolute;
  content: "";
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 10000px;
  height: 90%;
  z-index: -1;
  background-color: #e5e5e5;
}

.services-wrap {
  padding-top: 75px;
}

.delivery,
.warranty,
.credit {
  margin: 0;
  padding: 0;
  padding-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
}

.warranty,
.credit {
  display: none;
}

.services-text-wrap h2,
.services-text-wrap p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.services-text-wrap {
  width: 460px;
}

.slides-switches-wrap ul {
  margin: 0;
  padding: 0;
  padding-top: 78px;
  padding-right: 16px;
  padding-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 262px;
  margin-right: 117px;
  max-height: 320px;

  border-right: 7px solid black;

  list-style: none;
}

.services h2 {
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  font-weight: 800;
}

.services p {
  color: #464646;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;

  word-wrap: break-word;
}

.button-service {
  position: relative;
  width: 160px;
  margin-bottom: 25px;

  border: none;
}

.button-service:not(.current-service)::before {
  position: absolute;
  top: 16px;
  left: 0;
  min-width: 160px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.button.button-service:active {
  padding-left: 15px;

  color: #f0c52e;
  text-align:left;

  width: 285px;
  height: 40px;

  background-color: #000000;
}

.button.current-service {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 15px;
  width: 285px;
  height: 40px;

  color: #f0c52e;

  white-space: normal;
  word-wrap: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  white-space: normal;
  word-wrap: normal;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  text-align: left;
  z-index: 1;

  background-color: #000000;
}

.button.current-service:hover {
  background-color: #000000;
}


/* список брендов */
.brands ul {
  margin: 0;
  padding: 0;
  margin-bottom: 93px;

  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:  justify;
      -ms-flex-pack:  justify;
          justify-content:  space-between;

  list-style:  none;
}

.brands li {
  position: relative;
}

/* наведение на бренд */
.brands .dji::after {
  position: absolute;
  width: 260px;
  height: 100px;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../img/logo-dji-color.png");
  z-index: 1;
  display: none;
}

.brands .sp-gad::after {
  position: absolute;
  width: 260px;
  height: 100px;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../img/logo-spg-color.png");
  z-index: 1;
  display: none;
}

.brands .go-pro::after {
  position: absolute;
  width: 260px;
  height: 100px;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../img/logo-gopro-color.png");
  z-index: 1;
  display: none;
}

.brands .vive::after {
  position: absolute;
  width: 260px;
  height: 100px;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../img/logo-vive-color.png");
  z-index: 1;
  display: none;
}

.brands li:hover::after {
  display: block;
}


/* колонки с информацией о нас и контактами */
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.about-us,
.contacts {
  position: relative;
  padding-top: 50px;
}

.about-us::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 80px;
  height: 7px;

  background-color: #000000;
  }

  .column h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  font-weight: 800;
}

.column p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;

  word-wrap: break-word;
}

.contacts p {
  margin: 0;
  margin-bottom: 39px;
}

p.map-container {
  margin: 0;
  margin-bottom: 58px;
}

.map-container a {
  margin: 0;
  padding: 0;
}

.column ul {
  margin: 65px 0 52px 0;
  padding: 0;
}

.delivery-companies li {
  padding-left: 15px;
}

.column .button {
  width: 260px;
  height: 29px;

  border: none;
}

.column .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.column a.button::before,
.column button.button::before {
  position: absolute;
  top: 19px;
  left: 0;
  width: 260px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.column button.button::before{
  top: 18px;
}

.about-us a.button:hover,
.contacts button.button:hover {
  background-color: #f0c52e;
}

.about-us ul {
  margin-left: 20px;
  padding-left: 0;

  list-style: circle;
}

.about-us li {
  color: #e5e5e5;
  }

.about-us span {
    color: #000000;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
    font-weight: 800;
}
/* стили подвала */

.main-footer {
  min-width: 1200px;
  width: 100%;

  margin-top: 84px;
  min-height: 323px;
  color: #ffffff;

  background-color: #464646;
}

.main-footer ul {
  list-style:   none;
}

.main-footer a {
  color: #ffffff;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}


.footer-logo {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 5px;

  width: 360px;
  z-index: 1;
}

.footer-logo::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 20px;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-logo img {
  margin-bottom: 21px;
}

.footer-logo img:hover {
  opacity: 0.6;
}

.footer-logo img:active {
  opacity: 0.3;
}
.footer-navigation {
  position: absolute;
  padding-left: 361px;
  width: 440px;
}

.footer-user-navigation {
  width: 360px;
  margin-left: auto;
  background-color: #464646 ;
}

.footer-logo p,
.footer-user-navigation p,
.footer-navigation p,
.footer-navigation ul,
.footer-user-navigation-list a {
  margin: 0;
  padding: 0;
}

ul.footer-site-navigation {
  margin: 0;
  padding: 0;
  padding-top:  75px;
  margin-bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  list-style: none;
}

.footer-site-navigation li a {
  margin: 0;
  text-align: left;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 143px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43px;
  height: 43px;
}

.footer-social a svg {
  opacity: 0.3;
}

.footer-social a svg:hover {
  opacity: 1;
}

.footer-social a svg:active {
  opacity: 0.1;
}

.footer-site-navigation a:hover {
  color:rgba(255, 255, 255, 0.6) ;
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation {
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-user-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 500px;
  margin-bottom: 34px;
}

.footer .login-link {
  position: relative;
  margin: 0;
  padding: 0;
  width: 245px;

  text-align: right;
}

.footer a.login-link::before {
  position: absolute;
  top: 11px;
  left: 175px;

  background-image: url("../img/footer-user.svg");
}

.footer .compare-products {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  padding-left: 13px;
  width: 65px;
}

.footer a.compare-products::before {
  position: absolute;
  top: 12px;
  left: -6px;

  background-image: url("../img/footer-compare.svg");
}

.footer .basket {
  position: relative;

  margin-left: auto;
  width: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer a.basket::before {
  position: absolute;
  top: 11px;
  left: 18px;

  background-image: url("../img/footer-cart.svg");
}


.footer-user-navigation-list a {
  color: rgba(255, 255, 255, 0.7) ;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 300;
  vertical-align: top;
  text-align: right;
  text-decoration: none;
}

p.contact-phone {
  margin-bottom: 61px;
}

.footer-user-navigation-list a:hover,
.footer-user-navigation-list a:focus
{
  color: #ffffff;
}

.footer-user-navigation-list a:active {
  color: rgba(255, 255, 255, 0.3);
}


a.htmlacademy-logo:hover {
  opacity: 0.6;
}

a.htmlacademy-logo:active {
  opacity: 0.3;
}


/*  стили модальных окон*/
.modal {
  position: fixed;
  width: 760px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  z-index: 10;
}

.modal-contact-us {
  top: 0;
  left: 50%;
  margin-left: -480px;
  padding: 90px 100px 80px 100px;
  display: none;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px;
  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: rgba(240, 197, 46, 0.6);
  border-radius: 50%;
  border: 0;
  z-index: 5;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  right: 12px;
  width: 30px;
  height: 3px;

  background-color: #ffffff;
}


.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #f0c52e;
}

.modal-close:active {
  background-color:  rgba(240, 197, 46, 0.3);
}

form.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
}

.contact-us p {
  padding: 0;
  margin: 0;
}

form.contact-us label {
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  font-weight: 800;
}

form.contact-us .user-name-field,
form.contact-us .user-email {
  margin-bottom: 30px;

}

form.contact-us input,
form.contact-us textarea {
  color: rgba(70, 70, 70, 0.4);

  width: 360px;
  height: 50px;
  padding-left: 20px;


  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f2f2f2;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form.contact-us textarea {
  width: 760px;
  height: 156px;
  padding-top: 18px;
  margin-bottom: 50px;
}

form.contact-us input:hover,
form.contact-us textarea:hover {
  background-color: #eaeaea;
}

form.contact-us input:focus,
form.contact-us textarea:focus {
  color: #464646;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;

  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

form.contact-us input:invalid:not(:placeholder-shown),
form.contact-us textarea:invalid:not(:placeholder-shown) {
  color: rgba(70, 70, 70, 0.4);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f6dada;
}

.button.send {
  width: 200px;
}

.button.send:before {
  position: absolute;
  top: 16px;
  left: 0;
  width: 200px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.modal-map {
  width: 960px;
  height: 559px;
  top: 0;
  left: 50%;
  margin-left: -480px;

  display: none;
}

.modal-map p {
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 1;
  top:0;
  left: 0;
}

.modal-show {
  display: block;

  animation: faceInDown 0.6s;
}


.modal-map iframe {
  position: relative;
  z-index: 3;

  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  display: none;
}

.overlay-show {
  display: block;
}

/* стили внутренней страницы */
.inner-page .main-header {
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.inner-page .main-navigation {
  margin-bottom: 0;
  padding-bottom: 8px;
}

.inner-page .site-search {
  width: 540px;
}

.inner-page h1 {
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  font-weight: 800;
}

.account {
  width: 280px;
}

.personal-account {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 15px;
  padding-left: 27px;
  width: 280px;
}

.personal-account::before {
  position: absolute;
  content: "";
  top: 52px;
  left: 600px;
  width: 13px;
  height: 13px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.personal-account:hover::before {
  opacity: 0.6;
}

.personal-account:active::before {
  opacity: 0.3;
}

.logout {
  margin-right: 20px;
}

.logout:hover {
  color: #000000;
}

.inner-page  .compare-products {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 27px;
  width: 120px;
}
.inner-page .compare-products::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 7px;
  width: 13px;
  height: 13px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.navigation-catalog-list li {
  position: relative;
}


.catalog-list-wrap ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list-wrap {
  display: none;
  position: absolute;
  top: 26px;
  left: -60px;
  padding-top: 20px;
  padding-bottom: 37px;
  padding-left: 60px;
  width: 1100px;
  z-index: 10;

  background-color:#f7e296;
  cursor: pointer;
}

.catalog-list-wrap ul li a {
  display: block;
}


.navigation-catalog-list:hover .catalog-list-wrap,
.catalog-list-wrap:hover {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

.navigation-catalog-list:focus-within  .catalog-list-wrap {
  display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}


.catalog-list-1 li a,
.catalog-list-2 li a,
.catalog-list-3 li a {
  color: #000000;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;

  text-transform: none;
}

/* стили градиент-фона лдя секции фильтра и катлога товаров  */

.line-1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #d9d9d9), color-stop(50%, #ebebeb));
  background: -webkit-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
  background: -o-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
  background: linear-gradient(to right, #d9d9d9 50%, #ebebeb 50%);
}

.line-2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ebebeb), color-stop(50%, #ffffff));
  background: -webkit-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background: -o-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background: linear-gradient(to right, #ebebeb 50%, #ffffff 50%)
}

.inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  	width: 1100px;
  margin: auto;
  padding-left: 60px;
}

.inner-container .filters,
.inner-container .catalog {
  padding-bottom: 15px;
}

.filter-title,
.filtres {
  margin: 0;
  padding: 0;
  width: 265px;
}

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 835px;
  padding-left: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sorting-wrapper h2 {
  margin: 0;
  padding: 24px 0;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
}

.line-1 .filter-title {
  margin: 0;
  padding: 24px 0;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;

  background: #d9d9d9;
}

.line-1 .sorting-wrapper {
  background: #ebebeb;
}

.line-2 .filters {
  background: #ebebeb;
}

.line-2 .catalog {
  background: #ffffff;
}

.inner-page main.container {
  position: relative;
  padding-left: 60px;
  width: 1100px;
}

.inner-page .page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

ul.breadcrumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  list-style: none;
}

.breadcrumbs li a,
.breadcrumbs li {
  margin: 0;
  padding: 0;

  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  font-weight: 300;
  text-decoration: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin: 0;
}

.breadcrumbs li::after {
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: -18px;

  background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li a:active {
  color:rgba(0, 0, 0, 0.1);
}
.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  font-weight: 300;
}

.inner-page .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.filters {
  width: 265px;
}

.filter-range  {
  width: 200px;
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 20px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  font-weight: 800;

  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.filter-range-title {
  margin-bottom: 30px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  margin-bottom: 10px;

  background: rgb(219, 219, 219);
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 60%;
}

.range-toggle:active {
  width: 5px;
  height: 5px;
}


.price-controls {
  margin-bottom: 15px;
}

.price-controls label {
  display: inline-block;
  margin-right: 10px;

  vertical-align: top;
  font-size: 0;
  color: rgba(0, 0, 0, 0.2);
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  vertical-align: top;

  cursor: pointer;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: rgba(0, 0, 0, 0.2);
  font: inherit;

  background: none;
  border: none;
}

.filters ul {
  margin: 0;
  padding: 0;

  color: #000000;

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  font-weight: 300;

  list-style: none;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  width: 200px;

  border: none;
  border-bottom: 2px solid #000000;
}

.filter fieldset:last-of-type {
  border: none;
}

.filter fieldset li {
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.filter fieldset ul {
  padding-bottom: 25px;
}

.filter-option label {
  position: relative;

  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 3px;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg")
}

.filter-input:focus-within + label,
.filter-input:focus-within + label::before {
  outline: 2px solid #f0c52e;
}


.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
  opacity: 0.6;
}

.filter-input:disabled + label {
  opacity: 0.25;
}


.filter-input-radio + label::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: -42px;

  background-image: url("../img/radio-off.svg");
}

.filter-input-radio:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: -42px;

  background-image: url("../img/radio-on.svg");
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::before {
  opacity: 0.6;
}

.filter-radio:disabled + label {
  opacity: 0.25;
}

.filters h2,
.sorting-goods h2 {
  margin: 0;
  padding: 24px 0;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
}

.filters legend {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 20px;

  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  font-weight: 800;
}

/* кнопки на странице каталога */
.filter-button,
.basket-button {
  position: relative;
  width: 200px;
  height: 40px;

  color: #000000;

  white-space: normal;
  word-wrap: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  z-index: 0;
  background: transparent;

  border: none;
  cursor: pointer;
}

.filter-button::before {
  position: absolute;
  top: 16px;
  left: 0;
  min-width: 200px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.basket-button {
  position: absolute;
  height: auto;
  margin: 0;
  padding: 0;
  padding: 8px 0;
  text-decoration: none;
  vertical-align: middle;
  top: 180px;
  left: 80px;
  z-index: -2;
}

.basket-button::before {
  position: absolute;
  top: 16px;
  left: 0;
  min-width: 200px;
  height: 8px;
  z-index: -1;

  content: "";
  background-color: #f0c52e;
  text-align:  center;
  vertical-align: middle;
}

.filter-button:hover,
.basket-button:hover,
.filter-button:focus,
.basket-button:focus {
  background-color: #f0c52e;
}

.filter-button:active,
.basket-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item p:hover .basket-button {
  z-index: 2;
}

.wrap-sorting-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 835px;
}

.sorting-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  height: 71px;
  padding-left: 75px;
}

.sorting-list {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 55px;

  list-style: none;
}


.sorting-list li:not(.arrows) {
  margin-right: 30px;
}

.sorting-list .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  margin-left: auto;
}

.sorting-list a svg {
  fill: #c3c2c2;
}

.sorting-list .sort-active  svg {
  fill: #000000;
}

.arrows a:hover:not(.sort-active) svg {
  fill: #a7a5a6;
}

.arrows a:active:not(.sort-active) svg {
  fill: #000000;
}

.sorting-list li a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;

  display: inline-block;
  float: left;
  vertical-align: top;
}

.sorting-list li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list li a:active,
li.current-type a {
  color: #000000;
}

.catalog {
  margin: 0;
  padding: 0;
  padding-top: 68px;
  padding-left: 75px;
  width: 760px;
}

ul.catalog-list {
  margin: 0;
  padding: 0;
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;
}

.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

ul.catalog-list li {
  margin-bottom: 45px;
}

ul.catalog-list li:nth-child(2n) {
  margin-left: 40px;
}

li.catalog-item p,
li.catalog-item h3 {
  margin: 0;
  padding: 0;
}

li.catalog-item p{
  margin-bottom: 25px;
}

li.catalog-item h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
        }


li.catalog-item .catalog-item-title {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;

  text-decoration: none;
}

/* наведение на карточку */
.catalog-item p::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  z-index: 1;
  content: "";

  background-color: rgba(238, 238, 238, 0.5);

  display: none;
  }

  .add-to-compare {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  top: 225px;
  left: 110px;

  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  text-decoration: none;
  z-index: 1;

  display: none;
}
.catalog-item p:hover::before,
.catalog-item p:hover  .add-to-compare {
  display: block;
}

.add-to-compare:hover  {
  color: #000000;
}

.add-to-compare:active  {
  color: rgba(0, 0, 0, 0.2);
}


.catalog-item:focus-within  p::before,
.catalog-item:focus-within  p .add-to-compare,
.catalog-item:focus-within  p .basket-button {
  display: block;
  z-index: 2;
}

/* иконка нового товара */
.new {
  position: relative;
}

.new::before {
  position: absolute;
  top: 29px;
  right: 28px;
  content: "";
  width: 56px;
  height: 56px;

  border: 2px solid #cfcfcf;
  border-radius: 50%;
  z-index: 1;
}

.new::after {
  position: absolute;
  top: 46px;
  right: 28px;
  content: "new";
  width: 56px;
  height: 56px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.7px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.item-title {
  width: 260px;

  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  font-weight: 800;
}

.item-price {
  color: #464646;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  font-weight: 300;
}

.catalog img {
  width: 360px;
  height: 380px;

  background-color: #ebebeb;
}

ul.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-top: -13px;
  margin-bottom: 60px;
  width: 760px;
  min-height: 70px;

  background-color: #ebebeb;

  list-style: none;
}

.pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 488px;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
}


.pagination-item a {
  display: block;

  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
}

.pagination-item .current {
  color: #000000;
}

.pagination-item a:not(.current):hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:hover:active {
  color: #000000;
}

.pagination-button a {
  margin: 0;
  padding: 0;
  display: block;
  padding: 23px 0 23px 0;
  width: 136px;

  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  background-color: inherit;
}

.btn-back a:hover {
  background-color: #d9d9d9;
}
.btn-next a:hover {
  background-color: #d9d9d9;
}

.btn-back a:active {
  color: rgba(0, 0, 0, 0.3);
}
.btn-next a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-wrap  ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-wrap li {
  width: 40px;
}


.footer-user-navigation-list .logout {
  color: rgba(255, 255, 255, 0.3);
}


.footer-personal-account::before {
  bottom: 0;
}

.inner-page footer {
  margin-top: 0;
}

.inner-page .footer  {
  position: relative;
}

.inner-page .footer-navigation {
  position: absolute;
}

.inner-page .footer-user-navigation {
  min-width: 500px;
}
.inner-page .footer-user-navigation-list {
  text-align: left;
}

.inner-page .footer-personal-account {
  position: relative;
  min-width: 150px;
  padding-left: 30px;
}

.inner-page .footer-personal-account::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 21px;
  width: 13px;
  height: 13px;

  background-image: url("../img/footer-user.svg");

}

.inner-page .footer-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 250px;
}

.inner-page .main-footer .compare-products {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 110px;
}

.inner-page .footer a.compare-products::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 22px;
  width: 13px;
  height: 13px;

  background-image: url("../img/footer-compare.svg");
}
